/* ----------------------------- Sites Top Navigation ---------------------------------- */

header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.site-nav {
    display: flex;
    flex-direction: row;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.nav-links {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    background: white;
    font-size: 1.5rem;
    z-index: 5;
}

.nav-links a {
    text-decoration: none;
    color: #1f8bcc;
    font-weight: bold;
}

.nav-btn {
    display: none;
}

.nav-links.active {
    display: flex;
}

.hamburger {
    width: 32px;
    margin-left: auto;
    cursor: pointer;
    z-index: 10;
}

.main-nav {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.logo img{
    height: 80px;
    width: auto;
    margin-right: 2em;
}

/* --------------------------------------- Home Hero ----------------------------------------- */

.hero-background {
    display: none;
}

.hero-area {
    position: relative;
    width: 100%;
    z-index: 1;
}

.hero-logo {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 60px;
}

.clinic-image {
    box-shadow: 1px 1px 10px black;
    margin-top: 1rem;
}

.hero-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    gap: 1rem;
    padding: 2rem 0;
}

.hero-button {
    text-decoration: none;
    border: 1px solid #47c9bb;
    border-radius: 2rem;
    padding: 1rem 4rem;
    background-color: #47c9bb;
    font-weight: bold;
    font-size: 1.2rem;
    transition: border 0.3s ease, background-color 0.3s ease;
    color: white;
}

.hero-button:hover {
    border: 1px solid #1f8bcc;
    background-color: #1f8bcc;
}

/* ------------------------------- Service Area --------------------------------*/

.service-area {
    padding: 2rem 0;
}

.service-image img {
    align-items: center;
    margin: 0 auto;
}

.service-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0;
}

.service-button {
    text-decoration: none;
    border: 1px solid #47c9bb;
    border-radius: 2rem;
    padding: 1rem 4rem;
    background-color: #47c9bb;
    font-weight: bold;
    font-size: 1.2rem;
    transition: border 0.3s ease, background-color 0.3s ease;
    color: white;
}

.service-button:hover {
    border: 1px solid #1f8bcc;
    background-color: #1f8bcc;
}

/* ---------------------------------------------- About Area ------------------------------------*/

.about-area {
    background-color: #b8f3ed;
    width: 100%;
    padding: 2rem 0;
}

.about-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}

.about-grid {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;
    padding: 1rem 0;
}

.about-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
}

.icon-wrap {
    width: 80px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.icon-wrap img {
    height: 80px;
    width: auto;
    display: block;
}

/* ----------------------------------------- Contact Area -------------------------------------- */

.contact-area {
    position: relative;
    overflow: hidden;
}

.content-container {
    position: relative;
    z-index: 1;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 4rem 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-bg {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: blur(6px);
}

.contact-flex a {
    border: 1px solid #47c9bb;
    padding: 1rem 4rem;
    border-radius: 2rem;
    background-color: #47c9bb;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
}


/* -------------------------------------------------------- FOOTER ----------------------------------------------------------- */

.footer-separator {
    height: 1px;
    width: 90%;
    background-color: #1f8bcc;
    margin: 0 auto;
}

.site-footer {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}

.footer-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

.footer-brand img {
    height: 60px;
    width: 60px;
}

.footer-links {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.footer-links ul > li {
    padding: 0.75rem;
}

.footer-links ul > li > a {
    font-size: 1.5rem;
    color: #47c9bb;
    text-decoration: none;
}

.footer-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 2rem 1rem;
    font-size: 1.2rem;
    gap: 0.5rem;
}

.footer-contact p {
    font-size: 1.5rem;
}

.footer-contact p > a {
    color: #47c9bb;
    text-decoration: none;
}

.footer-bottom {
    max-width: 90%;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 2rem 0;
}

/*------------------------------------------------------------------- TABLET -------------------------------------------------------------------------------------------*/

@media (min-width: 768px) {
    

    .clinic-image {
        width: 100%;
    }

}


/*---------------------------------------------------------------------- DESKTOP --------------------------------------------------------------------------------------------*/

@media (min-width: 1024px) { 

        body {
        margin: 0;
    }

    h1 {
        font-size: 38px;
        font-family: sans-serif;
        color: #1E8ACB;
    }

    p{
        font-size: 18px;
        font-family: sans-serif;
    }

    a{
        font-size: 20px;
        font-family: sans-serif;
    }
    /* Header area & main navigation */

    header{
        position: sticky;
        top: 0;
        background: white;
        z-index: 2000;
    }

    .hamburger {
        display: none;
    }

    .nav-links > a:hover {
        color: #1E8ACB;
        text-decoration: underline;
        text-underline-offset: 1em;
    }

    .nav-links {
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        gap: 1.5rem;
        padding: 0;
        background: none;
        justify-content: flex-end;
    }

    .nav-links a {
        font-weight: 400;
        color: #46C8BA;
    }

    .nav-btn {
        display: block;
        background-color: #47c9bb;
        border: 1px solid #47c9bb;
        padding: 0.8rem 1.2rem;
        border-radius: 2rem;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .nav-btn a {
        color: white;
    }

    .nav-btn:hover {
        background-color: #1E8ACB;
        border: 1px solid #1E8ACB;
    }

    .button {
        margin-left: auto;
        margin-right: 5em;
        border: 1px solid #46C8BA;
        border-radius: 25px;
        background-color: #46C8BA;
    }

    .button a{
        display:block;
        padding: 0.5em 1em;
        color: white;
        border: 1px solid transparent;
        border-radius: 25px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .button a:hover {
        text-decoration: none;
        background-color: #1E8ACB;
        border: 1px solid #1E8ACB;
        border-radius: 25px;
        color: white;
    }

    .content-container{
        max-width: 1300px;
        padding-left: 6em;  
    }

    /* Main Content */

    .main-content {
        display: flex;
        flex-direction: column;
    }

    /* Hero area */
    .hero-area {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        height: 100vh;
        background-image: url('/images/hero_desktop.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 4rem 2rem;
    }

    .hero-image-container {
        position: relative;
        display: inline-block;
    }

    .clinic-image {
        width: 400px;
        height: auto;
        display: block;
        box-shadow: 5px 5px 5px  rgba(0, 0, 0, 0.5);
    }

    .hero-logo {
        position: absolute;
        top: 10px;
        left: 10px;
        width: 100px;
    }

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        text-align: left;
        max-width: 420px;
        gap: 3rem;
        width: auto;
        margin: 0;
    }

    .hero-content h1,
    .hero-content p,
    .hero-content a {
        margin: 0;
    }

    .hero-button {
        padding: 20px 80px;
        background-color: #46C8BA;
        color: white;
        text-decoration: none;
        border-radius: 40px;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .hero-button:hover{
        text-decoration: none;
        background-color: #1E8ACB;
        border: 1px solid #1E8ACB;
        border-radius: 40px;
        color: white;
    }

    .hero-area .content-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 2rem 0 0 0;
    }

    .service-area .content-container,
    .about-area .content-container,
    footer .content-container {
        padding-left: 0;
    }

    /* Service area */
    .service-area {
        height: 90vh;
        background-color: #a0faf188;
    }

    .service-area .content-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 6rem;
        padding-top: 100px;
        max-width: 90%;
        margin: 0 auto;
    }

    .service-image{
        width: 350px;
        height: auto;
    }

    .service-image img {
        height: auto;
        width: 100%;
        display: block;
        object-fit: cover;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    }

    .service-content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex: 0 0 500px;
        margin-top: 4em;
    }

    .service-content h1,
    .service-content p {
        margin: 0;
    }

    .service-button {
        padding: 1rem 4rem;
        background-color: #1E8ACB;
        color: white;
        text-decoration: none;
        border-radius: 2rem;
        text-align: center;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .service-button:hover {
        text-decoration: none;
        background-color: #46C8BA;
        border: 1px solid #46C8BA;
        border-radius: 40px;
        color: white;
    }

    /* About Area */
    .about-area {
        height: 75vh;
        background-color: whitesmoke;
        padding-top: 4rem;
        padding-left: 3rem;
    }

    .about-header {
        text-align: center;
        max-width: 700px;
        margin: 0 auto 4rem auto;
    }

    .about-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }

    .about-item {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
    }

    .icon {
        padding-top: 1rem;
        width: 64px;
        height: 64px;
    }

    /* Contact Area */

    .contact-area {
        position: relative;
        height: 45vh;
        overflow: hidden;
    }

    .contact-area::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/images/contact.jpg');
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px);
        z-index: -1;
    }

    .contact-flex {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;
        gap: 4rem;
    }

    .contact-button{
        border: 1px solid #1E8ACB;
        padding: 1rem 4rem;
        border-radius: 2rem;
        background-color: #1E8ACB;
        color: white;
        text-decoration: none;
        text-align: center;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }

    .contact-button:hover {
        text-decoration: none;
        background-color: #46C8BA;
        border: 1px solid #46C8BA;
        border-radius: 40px;
        color: white;
    }


    /* Footer */

    .footer-separator {
        display: none;
    }

    .site-footer {
        display: block;
        background-color: whitesmoke;
        padding: 3rem 2rem 2rem 2rem;
        font-family: sans-serif;
        color:black;
    }

    .footer-grid {
        max-width: 1300px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem;
        justify-content: center;
        align-items:flex-start
    }

    .footer-brand {
        margin-top: -5rem;
    }

    .footer-logo {
        width: 140px;
        margin-top: 4rem;
    }

    .footer-links ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    .footer-links li {
        margin-bottom: 0.5rem;
    }

    .footer-links a {
        color: #1E8ACB;
        text-decoration: none;
    }

    .footer-links a:hover {
        color: #46C8BA;
    }

    .footer-contact a {
        color: #1E8ACB;
        text-decoration: none;
    }

    .footer-contact a:hover {
        color: #46C8BA;
    }

    .designer-tag {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        opacity: 0.7;
    }

    .footer-bottom {
        text-align: center;
        margin-top: 2rem;
        padding-top: 1rem;
        border-top: 1px solid #1E8ACB;
        font-size: 0.9rem;
        opacity: 0.8;
    }

    /* Privacy Policy */
    /* Cookies */

    .policy h1,h2,h3{
        color: #1E8ACB;
    }

    .policy ul {
        font-size: 1.2rem;
    }

    .policy a {
        color: #1E8ACB;
        text-decoration: none;
        font-size: 1rem;
    }

    .policy a:hover {
        color: #46C8BA;
    }

    .foot-note {
        font-size: 1rem;
        color: #555;
    }

    .policy {
        padding: 3rem;
    }

}

/*------------------------------------------------------------------ LARGE DESKTOP --------------------------------------------------------------------------------------------*/

@media (min-width: 1440px) { 

}